/*
    Fonts that where imported:
        -Bodoni Moda (regular 400) 'Bodoni Moda', serif
        -Playfair Display (regular 400) 'Playfair Display', serif
        -Oswald (regular 400) 'Oswald', sans-serif
*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&family=Oswald&family=Playfair+Display&display=swap');
:root
{
    --color-1: #dd8154;
    --color-2: #3b4937;
    --color-3: #7f836e;
    --color-4: #a2a69f;
    --color-5: #b7bcb2;
    --color-6: #888f87;
    --color-7: #ecc6b0;
    --color-8: #b4bebc;

    --Background-white: #f7f7f7;
}
body
{
    display: flex;
    flex-direction: column;
    background: var(--color-2);
    font-family:'Oswald', sans-serif;
    margin: 0;
}

a
{
    color: #444444;
}
p{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}




.heading
{
    text-align: center;
    background-color: var(--color-7);
    border-radius: 0.5em;
    /*padding-left: 1.2em;
    padding-right: 1.2em;*/
    font-family: 'Playfair Display', serif;
}

.navbar
{
    display: flex;
    place-content: space-between;
    background-color: var(--color-3);
    padding: 1em;
    .logo
    {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
        background-color: var(--color-7);
        border-radius: 0.6em;
        padding: 0.5em 0.5em 0em 0.5em;
    }
    nav
    {
        display: none;

        .exit-button
        {
            block-size: 1em;
        }
    }
    .mobile-menu
    {
        cursor: pointer;
        block-size: 1.7em;
        padding: 0.7em;
    }
}

nav.menu-btn
{
    display: block;
}
nav
{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--color-1);
    height: 100vh;
    padding: 1em;

    ul.primary-nav
    {
        margin-top: 5em;
    }

    li
    {
        a
        {
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;

            &:hover
            {
                font-weight: bold;
            }
        }
    }
}
.mobile-menu-exit
{
    float: right;
    margin: 0.5em;
    cursor: pointer;
    block-size: 1.7em;
}

.welcome-img
{
    padding: 1.2em 0em 1.2em 0em;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    
    img
    {
        margin: 0.5em;
        padding: 1.2em;
        background-color: var(--color-1);
        border-radius: .5em;
        
    }
}

.welcome
{
    display: flex;
    place-content: center;
    padding-top: 0;
    margin: 0;
    article
    {
        padding: 1.2em;
        ul
        {
        .cta-following-paragraph
            {
                text-align: center;
                margin: 0em;
                padding: 1.2em;
                font-family: 'Playfair Display', serif;
                background-color: var(--color-1);
                border-radius: 0.5em;
            }
        }
    }   
}   

.comments
{
    display: flex;
    margin: 3em;
    form
    {
        background-color: var(--color-1);
        margin-top: 0.0em;
        padding: 1.2em;
        border-radius: 0.5em;
    }
}